.badge{
    position: relative;
}
.badge::before{
    content: '0';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    font-weight: bold;
    position: absolute;
    top: -6px;
    left: 15px;
    padding: 5px;
    width: 15px;
    height: 15px;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
