@import url(/src/Components/Badge.css);
@import 'tailwindcss';

@theme {
    --color-primary: #88c74a;
    --font-iranFamily: "iranFamily";
    --font-iranFamilyBold: "iranFamilyBold";
    --font-iranFamilyBlack: "iranFamilyBlack";
    --font-iranFamilyNum: "iranFamilyNum";
}


@font-face {
    font-family: "iranFamily";
    src: url(/assets/fonts/IRAN.ttf);
}
@font-face {
    font-family: "iranFamilyBold";
    src: url(/assets/fonts/IRAN_Bold.ttf);
}
@font-face {
    font-family: "iranFamilyBlack";
    src: url(/assets/fonts/IRAN_Black.ttf);
}
@font-face {
    font-family: "iranFamilyNumeric";
    src: url(/assets/fonts/IRAN\(FaNum\).ttf);
}


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.ukflag {
    margin-right: 20px;
}

.border_right {
    padding: 1rem;
    height: 10px;
}

.category {
    @apply inline-block relative
}

#categorySelector {
    width: 100%;
    padding-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
}
.category .icon{
    position: absolute;
    left: 0%;
    top: -2%;
    font-size: 20px;
    pointer-events: none;
}

.swiper{
    max-width: 1300px;
    height: 500px;
}
